.data-input{
    position: relative;
    margin: auto;
    margin-top: 170px;
    width: 90%;
}
.top{
    position: absolute;
    background-color: #1C315E;
    height: 200px; 
    width: 100%;
    top: 0;
}
.form-add-mk{
    display: flex;
    margin: auto;
    font-size: 18px;
    color: white;
    background-color: #FD841F;
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.form-add-mk .input-form{
    display: flex;
}
.label{
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    display: flex;
    padding: 0 5px;
}
.control input, .control select{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: none;
    text-indent: 10px;
    outline: none;
    color: white;
    font-size: 16px;
    width: 120px;
}
.control input::placeholder{
    color: rgb(255, 255, 255, .75);
}
.control option{
    background-color: #FD841F;
}
.control button{
    background-color: #1C315E;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
.data-mk{
    margin-top: 25px;
    width: 100%;
    border-spacing: 10;
}
.data-mk td{
    padding: 10px;
    text-align: center;
}
.data-mk th{
    background-color: #1C315E;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 20%;
}
.data-mk td:last-child{
    gap: 5px;
    justify-content: center;
    display: flex;
}
table button{
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
table tr:nth-child(2n-1) button{
    background-color: #FD841F;
}
table tr:nth-child(2n) button{
    background-color: #1C315E;
}
.gen-btn{
    margin-top: 50px;
    margin-bottom: 20px;
}
.generate-btn{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #1C315E;
    width: 20%;
    margin: auto;
    justify-content: center;
    display: flex;
    border: none;
    cursor: pointer;
}
.generate-btn:hover{
    color: #1C315E;
    background: none;
    font-weight: bold;
    padding: 4px 20px;
    border: 1px solid #1C315E;
}
.control input.sksMK,
.control input.kelasMK{
    width: 50px;
}
.control input.sksMK::placeholder,
.control input.kelasMK::placeholder{
    text-align: center;
    text-indent: 0;
}
.control input.sksMK::-webkit-outer-spin-button,
.control input.sksMK::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.control input.sksMK{
    -moz-appearance: textfield;
}
*{
    scroll-behavior: smooth;
}
@media screen and (max-width: 1080px) {
    .form-add-mk .input-form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-add-mk .input-form .control{
        padding: 5px 2.5px;
        gap: 2.5px;
    }
    .form-add-mk .btn-add-save{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .gen-btn{
        margin-top: 20px;
    }
}
@media screen and (max-width: 700px) {
    .data-input, .form-add-mk, table button, .control button, .control input, .control select{
        font-size: 12px;
    }
    table td{
        font-size: 12px;
    }
    table button{
        padding: 5px 10px;
    }
    .generate-btn{
        font-size: 16px;
    }
    .data-input{
        width: 100%;
    }
    .data-mk td{
        padding: 5px;
    }
    .form-add-mk{
        display: block;
        width: 90%;
    }
    .form-add-mk .btn-add-save{
        padding-top: 5px;
    }
    .form-add-mk .input-form{
        justify-content: center;
    }
}