.label, th{
    font-size: 16px;
}
.data-input{
    position: relative;
    margin: auto;
    margin-top: 120px;
    width: 90%;
}
.top{
    position: absolute;
    background-color: #1C315E;
    height: 200px; 
    width: 100%;
    top: 0;
}
.form-add-mk{
    display: flex;
    margin: auto;
    font-size: 18px;
    color: white;
    background-color: #FD841F;
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.form-add-mk .input-form{
    display: flex;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.control{
    display: flex;
    padding: 0 5px;
    gap: 2.5px;
}
.control input, .control select{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: none;
    text-indent: 10px;
    outline: none;
    color: white;
    font-size: 16px;
    width: 120px;
}
.control input::placeholder{
    color: rgb(255, 255, 255, .75);
}
.control option{
    background-color: #FD841F;
}
.control button{
    background-color: #1C315E;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    width: max-content;
}
.data-mk{
    margin-top: 25px;
    width: 100%;
    border-spacing: 10;
}
.data-mk td{
    padding: 10px;
    text-align: center;
}
.data-mk th{
    background-color: #1C315E;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 20%;
    text-align: center;
}
.data-mk td:last-child div{
    gap: 5px;
    justify-content: center;
    display: flex;
}
table button{
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
}
table tr:nth-child(2n-1) button{
    background-color: #FD841F;
}
table tr:nth-child(2n) button{
    background-color: #1C315E;
}
.gen-btn{
    margin-top: 50px;
    margin-bottom: 20px;
}
.generate-btn{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #1C315E;
    /* width: 20%; */
    margin: auto;
    width: 150px;
    justify-content: center;
    display: flex;
    border: none;
    cursor: pointer;
}
.generate-btn:hover{
    color: #1C315E;
    background: none;
    font-weight: bold;
    padding: 4px 20px;
    border: 1px solid #1C315E;
    text-decoration: none;
}
.control input.sksMK,
.control input.kelasMK{
    width: 50px;
}
.control input.sksMK::placeholder,
.control input.kelasMK::placeholder{
    text-align: center;
    text-indent: 0;
}
.control input.sksMK::-webkit-outer-spin-button,
.control input.sksMK::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.control input.sksMK{
    -moz-appearance: textfield;
}
*{
    scroll-behavior: smooth;
}
.modal-body .file-drop-area input{
    display: none;
}
.modal-body .file-drop-area {
    position: relative;
    align-items: center;
    height: 150px;
    border: 1px dashed black;
    border-radius: 5px;
}
.modal-body .file-drop-area label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: none;
    align-items: center;
}
.data-input .top-button{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.data-input .top-button button.openModal{
    background: none;
    color: white;
    border-radius: 10px;
    border: white 1.5px solid;
    outline: none;
}
.data-input .top-button button.openModal:hover{
    background-color: rgb(255, 255, 255, .1);
}
.data-input .top-button .krs-button button:last-child{
    margin-left: 7.5px;
}
@media screen and (max-width: 1080px) {
    .form-add-mk .input-form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-add-mk .input-form .control{
        padding: 5px 2.5px;
    }
    .form-add-mk .btn-add-save{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .gen-btn{
        margin-top: 20px;
    }
}
@media screen and (max-width: 700px) {
    .data-input, .form-add-mk, table button, .control button, .control input, .control select, th, .label{
        font-size: 12px;
    }
    table td{
        font-size: 12px;
    }
    table button{
        padding: 5px 10px;
    }
    .generate-btn{
        font-size: 16px;
        width: 100px;
    }
    .data-input{
        width: 100%;
    }
    .data-mk td{
        padding: 5px;
    }
    .form-add-mk{
        display: block;
        width: 90%;
    }
    .data-input .top-button{
        margin-left: 5%;
    }
    .form-add-mk .btn-add-save{
        padding-top: 5px;
    }
    .form-add-mk .input-form{
        justify-content: center;
    }
    .data-mk td:last-child div{
        display: block;
    }
    .data-mk td:last-child div button{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .data-mk td:last-child div button:first-child{
        margin-bottom: 1.5px;
        font-size: 13px;
    }
}
@media screen and (max-width: 500px) {
    .form-add-mk{
        width: fit-content;
        padding: 10px;
    }
    .data-input .top-button{
        margin-left: 0%;
    }
}
.modal-footer{
    display: flex;
    align-items: center;
}
.modal-footer p{
    width: fit-content;
    margin-bottom: 0;
}
.modal-footer .progress {
    width: 50%;
    margin-bottom: 0;
}
.alert-box{
    font-size: 12px;
    position: absolute;
    right: 2.5px;
    top: 2.5px;
}
.alert-box .alert{
    padding: 10px;
}
.alert-box .close{
    margin-left: 2.5px;
}