.top {
    display: flex;
}
.top .btn-gen{
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    outline: none;
}
.top .btn-gen:hover{
    border: 1px solid white;
    padding: 7.5px 25px;
    border-radius: 20px;
}
.tabel table.mainTable {
    top: 200px;
    width: 90%;
    margin: auto;
    position: relative;
    color: white;
    padding-bottom: 50px;
    margin-top: 10px;
}
table.mainTable thead tr:first-child th{
    border-radius: 25px 25px 0 0;
    padding: 10px 0;
    text-align: center;
}
table.mainTable thead tr:nth-child(2n-1){
    background-color: #1C315E;
}
table.mainTable thead tr:nth-child(2n){
    background-color: #FD841F;
}

table.mainTable tr td, table thead tr:nth-child(2) th{
    text-align: center;
    padding: 5px;
    color: black;
}
table.mainTable thead tr:nth-child(2) th{
    color: white;
}
table.mainTable tr:nth-child(2n-1) td,
table.mainTable tr:nth-child(2n-1) td table.secondTable td{
    background-color: white;
    color: black;
}
table.mainTable tr:nth-child(2n) td,
table.mainTable tr:nth-child(2n) td table.secondTable td{
    background-color: lightgrey;
    color: black;
}
table.mainTable tr td:first-child{
    background-color: #1C315E;
    color: white;
}
table.mainTable td table.secondTable{
    margin: auto;
}
table.mainTable tr td.totalSks{
    background-color: #1C315E;
    color: white;
    border-radius: 0 0 0;
}
table.mainTable tr td.sks{
    background-color: #FD841F;
    color: white;
}
@media screen and (max-width: 750px) {
    .tabel{
        font-size: 14px;
    }
    table.mainTable tr td{
        font-size: 12px;
    }
    .top .btn-gen{
        border: 1px solid white;
        padding: 7.5px 25px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 590px) {
    .tabel table.mainTable{
        width: 100%;
    }
    table.mainTable tbody tr td:first-child{
        max-width: 70px;
    }
}
input.mainSks::-webkit-outer-spin-button,
input.mainSks::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.field{
    position: absolute;
    top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.field .label{
    margin-bottom: 0;
    padding: 0;
}
.setSks{
    margin-left: 10px;
}
.setSks input{
    background: rgb(56, 79, 128);
    border: none;
    outline: none;
    color: white;
    width: 35px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.setSks input::placeholder{
    color: rgb(255, 255, 255, .4);
}

.setSks button{
    background: #FD841F;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    color: white;
}